@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");

#project-list {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    column-gap: 10px;
    row-gap: 10px;
    margin: 10px, 10px, 10px, 10px;
}

#title {
    font-family: 'Irish Grover', cursive;
    color: chartreuse;
    background-color: darkblue;
    text-align: center;
    font-size: 10pc;
    margin: 0;
}

#intro {
    font-family: 'Irish Grover', cursive;
    color: ghostwhite;
    background-color: darkblue;
    text-align: center;
    font-size: 2pc;
    margin-top: 0;
}

.emphasis {
    color: chartreuse;
}

h2 {
    text-align: center;
    font-family: 'Irish Grover', cursive;
    color: darkblue;
    font-size: 2pc;
}

#projectintro {
    background-color: chartreuse;
    color: darkblue;
    display: flex;
    justify-content: center;
    margin: 10px;
    font-size: 32px;
}

.hpprojecttile {
    border: rgb(211, 60, 5);
    border-width: 2px;
    padding: 0.2em;
    background-color: coral;
    text-align: center;
    font-weight: bolder;
    margin: 10px;
}