#profileitems {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: right;
}

#mainnav {
    display: flex;
    gap: 0.5em;
    font-size: 16px;
    background-color: darkblue;
    justify-content: space-around;

}

#mainnav a {
    color: white;
    border: 3px solid green;
    height: 6em;
    width: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
    transition: all, 0.4s, ease;
    text-align: center;
    background-color: green;
}

#mainnav a:hover {
    background-color: white;
    color: green;
}

